/*
CSS for index page
 */
.headers{
     text-align: center;
     margin-top: 5%;
     margin-left: 20%;
     margin-right: 20%;
}

.image{
     width: 17%;
     height: 17%;
     display: block;
     margin: 4% auto 1%;
}

.textInMain{
     margin-top: 5%;
     margin-left: 20%;
     margin-right: 20%;
     font-size: large;
}

.transmission{
     transition-duration: 0.3s;
}

*{
     white-space: normal !important;
}

/*
CSS for forms in world building pages
 */
.formWorldBuilding{
     text-align: center;
     margin-left: 13%;
     margin-right: 13%;
     margin-bottom: 1%;
}

.pathPosition{
     margin-top:3%;
     margin-left: 13%;
     margin-right: 13%;
}

.panelInFormWorld{
     text-align: center;
     margin-top: 3%;
     margin-left: 13%;
     margin-right: 13%;
}

.headerPanel{
     text-align: center;
}

textarea{
     resize: none;
}

/*
CSS for checkboxes in world building pages
 */
.checkboxesPosition{
     margin-left: 41%;
     margin-top: 1%;
     display: none;
}

/*
Style for headers in modals
 */
.headerForModal{
     text-align: center;
}

/*
Style for contact and register panel
 */
.contactRegisterPanel{
     text-align: center;
     margin-top: 8%;
     margin-left: 15%;
     margin-right: 15%;
}

/*
Style for contact and register form
 */
.contactRegisterForm{
     text-align: center;
     margin-left: 30%;
     margin-right: 30%;
     margin-bottom: 1%;
}

/*
Style for content in write page
*/
.writePageContent{
     margin-top: 5%;
     margin-left: 3%;
     margin-right: 3%;
}

/*
Style for categories in write page
*/
.catButton{
     display: none;
}

/*
Style for button in profile page
 */
.personalInfo{
     margin: 3% 10% 1%;
}

/*
Style for personal information elements in profile page
 */
.inputProfile{
     text-align: center;
     margin-left: 30%;
     margin-right: 30%;
     margin-bottom: 1%;
     display: none;
}

/*
Style for team and invites elements in profile page
 */
.teams-invites{
     text-align: center;
     margin-left: 25%;
     margin-right: 25%;
     margin-bottom: 1%;
     display: none;
}

/*
Style for input email of member in profile page
 */
.inputEmailMember{
     width: 90%;
     display: inline-block;
     vertical-align: middle;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 991px) {
     .showSideBar{
          display: block;
     }

     .showBar{
          display: none;
     }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
     .showSideBar{
          display: none;
     }

     .showBar{
          display: block;
     }
}