/*
CSS for index page
 */
.headers{
     text-align: center;
     margin-top: 5%;
     margin-left: 20%;
     margin-right: 20%;
}

.image{
     width: 17%;
     height: 17%;
     display: block;
     margin: 4% auto 1%;
}

.textInMain{
     margin-top: 5%;
     margin-left: 20%;
     margin-right: 20%;
     font-size: large;
}

.transmission{
     transition-duration: 0.3s;
}

*{
     white-space: normal !important;
}

/*
CSS for forms in world building pages
 */
.formWorldBuilding{
     text-align: center;
     margin-left: 13%;
     margin-right: 13%;
     margin-bottom: 1%;
}

.pathPosition{
     margin-top:3%;
     margin-left: 13%;
     margin-right: 13%;
}

.panelInFormWorld{
     text-align: center;
     margin-top: 3%;
     margin-left: 13%;
     margin-right: 13%;
}

.headerPanel{
     text-align: center;
}

textarea{
     resize: none;
}

/*
CSS for checkboxes in world building pages
 */
.checkboxesPosition{
     margin-left: 41%;
     margin-top: 1%;
     display: none;
}

/*
Style for headers in modals
 */
.headerForModal{
     text-align: center;
}

/*
Style for contact and register panel
 */
.contactRegisterPanel{
     text-align: center;
     margin-top: 8%;
     margin-left: 15%;
     margin-right: 15%;
}

/*
Style for content in write page
*/
.writePageContent{
     margin-top: 5%;
     margin-left: 3%;
     margin-right: 3%;
}

/*
Style for categories in write page
*/
.catButton{
     display: none;
}

.Rcontainer{
     text-align: center;
     padding:8px;
     border:3px solid #f1f1f1;
     background-color: #e9e9e9;
     width: 70%;
     margin: auto;
     margin-bottom: 5px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


/*
Style for button in profile page
 */
.personalInfo{
     margin: 3% 10% 1%;
}

/*
Style for personal information elements in profile page
 */
.inputProfile{
     text-align: center;
     margin-left: 30%;
     margin-right: 30%;
     margin-bottom: 1%;
}

/*
Style for team and invites elements in profile page
 */
.teams-invites{
     text-align: center;
     margin-left: 25%;
     margin-right: 25%;
     margin-bottom: 1%;
}

/*
Style for contact messages page
 */
.contact-messages{
     text-align: center;
     margin-left: 15%;
     margin-right: 15%;
     margin-bottom: 1%;
}

/*
Style for input email of member in profile page
 */
.inputEmailMember{
     width: 90%;
     display: inline-block;
     vertical-align: middle;
}

/*
Style for write-login page content
*/
.writeLogin{
     margin-top: 15%;
     margin-right: 20%;
     margin-left: 20%;
     text-align: center;
}

/*
Style for the text and button for game elements world file that says to continue with editing
Assets
*/
.continueAssets{
     margin-top: 3%;
     text-align: center;
     margin-bottom: 1%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 991px) {
     .showSideBar{
          display: block;
     }

     .showBar{
          display: none;
     }

     /*
     Style for contact and register form
     */
     .contactRegisterForm{
          text-align: center;
          margin-left: 25%;
          margin-right: 25%;
          margin-bottom: 1%;
     }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
     /*
     Style for contact and register form
     */
     .contactRegisterForm{
          text-align: center;
          margin-left: 35%;
          margin-right: 35%;
          margin-bottom: 1%;
     }

     .showSideBar{
          display: none;
     }

     .showBar{
          display: block;
     }
}
