textarea {
     resize: none;
}

.headers{
     text-align: center;
     margin-top: 5%;
}

.image{
     width: 20%;
     height: 20%;
}

.textInMain{
     text-align: center;
     font-size: large;
}

.containerMain{
     margin-top: 3%;
     margin-left: 20%;
     margin-right: 20%;
}
